body {
    background-color: gray;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.login-form {
    width: 40vw;
    height: 85vh;
    background-color: beige;
    border-radius: 15px;
}

.social-login {
    position: relative;

}

.social {
    position: absolute;
    background-color: white;

}