body {
    background-color: gray;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.login-form {
    width: 60vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border-radius: 15px;
}